*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url('images/image3.jpg');
  background-position: 0% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}